<header>
  <h1><a href="/">Coding Dojo Brno</a></h1>
  <p>...protože vývoj software není jen bouchání kódu.</p>
  <img src="assets/code-beer.jpg" alt="Code Beer logo">
  <p class="view"><a href="https://www.facebook.com/groups/brno.code.beer/">Brno Code Beer na Facebooku <small>Přidejte se do skupiny na Facebooku!</small></a></p>
  <p class="view"><a href="https://github.com/lukasbednarik/codingdojobrno.cz">Projekt na GitHub <small>Pošlete pull request a změňte tyto stránky!</small></a></p>
  <p class="view"><a href="mailto:lukas@lukasbednarik.cz">lukas@lukasbednarik.cz <small>Napište mi!</small></a></p>
</header>