<header>
  <h1><a href="/">Coding Dojo Brno</a></h1>
  <p>...protože se chceme učit v týmu.</p>
  <img src="assets/pair-programming-small.png" alt="Coding Dojo Brno">
  <p class="view"><a href="https://www.facebook.com/groups/dojobrno">Coding Dojo na Facebooku <small>Oficiální Coding Dojo skupina</small></a></p>
  <p class="view"><a href="https://github.com/lukasbednarik/codingdojobrno-code">Repozitář s kódem <small>Kód napsaný na našich setkáních</small></a></p>
  <p class="view"><a href="mailto:lukas@lukasbednarik.cz">Napište mi! <small>lukas@lukasbednarik.cz</small></a></p>
</header>